/* Anish's work */

/* MY-NAV-STARTS-HERE */
.music-details{
    width: 79%;
    height: 95vh;
    background-color: rgb(251, 247, 247);
    /* border: 2px solid black; */
    position: absolute;
    left:20.5vw;
    top: 0;
    padding:5px 0;
    overflow: hidden;
}
.music-nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(116, 112, 112);
    /* border-bottom: 1px solid black; */
}
.music-nav h3 span{
    color: rgb(82, 82, 238);
}

.nav-1{
    display: flex;
    justify-content: space-around;
    width: 25%;
    position: relative;
    left: 30px;
    font-size: 1vw;
}
.nav-2{
    display: flex;
    position: relative;
    right: 40px;
    bottom: 2px;
}
.nav-2 input{
    padding: 1.5vh 4vw;
    outline: none;
    border: none;
    box-shadow: 1px 1px 3px rgb(129, 122, 122);
    border-radius: 5px;
    text-align: center;
}
.nav-2 i{
    font-size: 1.2vw;
    position: relative;
    left: 35px;
    top: 8px;
}

.nav-3{
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
.nav-3 i{
    font-size: 1.2vw;
}
.nav-3 .dave{
    background-color: rgb(5, 5, 63);
    color: white;
    width: 50%;
    height: 45px;
    position: relative;
    bottom: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

/* DETAILS-OF-MUSIC-STARTS-HERE */
.detail-names{
    color: rgb(66, 63, 63);
    height: 33vh;
    position: relative;
}
.new-hits h4{
    position: relative;
    left: 3vw;
    font-size: 1.2vw;
}
.title-of-music h1{
    font-size: 4vw;
    position: relative;
    left: 5vw;    
    bottom: 1.5vw;
    letter-spacing: 3px;
}
.singer-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    position: relative;
    left: 5.5vw;
    bottom: 6vw;
}
.singer-name h3{
    font-size: 1.5vw;
}
.singer-name p{
    font-size: 1.2vw;
}

.btn{
    position: relative;
    bottom: 6vw;
    left: 5.5vw;
}
.btn button{
    background-color: rgb(82, 82, 238);
    color: white;
    font-weight: 600;
    border: none;
    padding: 1vw 2vw;
    border-radius: 30px;
}
.btn i{
    color: rgb(82, 82, 238);
    border: 1px solid black;
    font-size: 1.5vw;
    padding: 0.8vw 0.8vw;
    border-radius: 50%;
    position: relative;
    left: 20px;
    top: 3px;
}


/* Top-Artists-starts-here */
.top-artists{
    background-color: white;
    box-shadow: 1px 1px 3px rgb(129, 122, 122); 
    width: 55%;
    height: 20vh;
    position: relative;
    padding: 1vw;
    bottom: 1vw;
    left: 3.5vw;
}
.top-artist-nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 1.5vw;
}
.artist-img {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 2vw;
    line-height: 0;
    text-align: center;
}
.artist-img img{
    width: 5vw;
    height: 8vh;
    border-radius: 15px;
    object-fit: cover;
}

.artist-img h5{
    position: relative;
    bottom: 0.8vw;
    font-size: 1.2vw;
}
.artist-img p{
    font-size: 1vw;
    position: relative;
    bottom: 1.5vw;
}


