body {
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
  }
  
  .vertical-nav {
    background-color: #E8ECEF;
    height: 100vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
  }

  .logocontainer{
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 35px;
  }
  
  .weblogo {
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    align-items: center;
  }

  .webname{
    font-family: 'Gabarito', cursive;
    font-size: 22px;
    font-weight: bolder;
  }
  
  .menu, .library, .playlist {
    margin-top: 20px;
  }

  .menu-title, .library-title, .playlist-title {
    margin-bottom: 10px; 
    margin-left: 35px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: small;
  }
  
  .menu-container, .library-container, .playlist-container {
    height: 19vh;
    display: flex;
    flex-direction: row;
  }
  
  .menu-logos, .library-logos, .playlist-logos,
  .menu-items, .library-items, .playlist-items {
    display: flex;
    flex-direction: column;
    height: 15vh;
    justify-content: space-between;
  }

  .menu-items, .library-items, .playlist-items {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  
  .mini-player {
    display: flex;
    flex-direction: column;
    height: 14vw;
    width: 20vh;
  }
  
  .miniplayer-block {
    display: flex;
    flex-direction: row;
    background-color: #363640;
    height: 9vh;
    width: 10vw;
    margin-top: 30px;
    margin-left: 35px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .device-details {
    background-color: #212429;
    color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 35px;
    height: 4vh;
    width: 10vw;
  }
  
  .miniplayer-title {
    font-weight: bold;
  }